/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
.heading{
    font-family: cursive;
    color: #fff;
    font-size: 25px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 24px;
    font-family: cursive;
}

.nav-links a:hover {
    text-decoration: underline;
}
